<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trip Update</h1>
    <% const selectedTransportation = foundTrip.transportation%>
    <% const selectedAccommodation = foundTrip.accommodation%>
    <form action="/trip/<%= foundTrip._id%>/update?_method=PUT" method="post">

        label for="tripName">Trip Name:</label>
        <input value="<%=foundTrip.tripName%>" type="text" name="tripName" id="tripName">

        <label for="country">Countries:</label>
        <select multiple name="country" id="country" required>
        <% allCountries.forEach((oneCountry) => { %>
            <option value="<%= oneCountry._id %>"><%= oneCountry.name %></option>
        <% })%>
        </select>

        <label for="transportation">Transportation:</label>
        <select name="transportation" required>
            <option value="select">--Select a transport option--</option>
            <option value="Car" <%= selectedTransportation === "Car" && "selected" %>>Car</option>
            <option value="plane" <%= selectedTransportation === "plane" && "selected" %>>Plane</option>
            <option value="Train" <%= selectedTransportation === "Train" && "selected" %>>Train</option>
            <option value="Bus" <%= selectedTransportation === "Bus" && "selected" %>>Bus</option>
            <option value="Other" <%= selectedTransportation === "Other" && "selected" %>>Other</option>
        </select>
        <br>
        
        <label for="accommodation">Accommodation:</label>
        <select name="accommodation" required>
            <option value="select">--Select accommodation--</option>
            <option value="Hotel" <%= selectedAccommodation === "Hotel" && "selected" %>>Hotel</option>
            <option value="Hostel" <%= selectedAccommodation === "Hostel" && "selected" %>>Hostel</option>
            <option value="Camping" <%= selectedAccommodation === "Camping" && "selected" %>>Camping</option>
            <option value="Other" <%= selectedAccommodation === "Other" && "selected" %>>Other</option>
        </select>
            

        <button type="submit">Update Trip</button>

    </form>
</body>
</html>